html {
    background-color: #f4df75;
}

body {
    font-family: Avenir, sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 16px;
}

.flexbox1 {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    align-content: center;
}

.box1 {
    border-color: #000000;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.box1 .icon {
    max-width: 100px;
    height: auto;
    padding: 15px;
}

.box1 .explanatory-text {
    text-align: justify;
    padding: 10px;
}

.reminder {
    background-color: #b4b4b4;
}