html {
    background-color: #f4df75;
}

body {
    font-family: Avenir, sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 16px;
}

.flexbox1 {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    align-content: center;
}

.megabox {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.iconflex {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.textflex {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.reminder {
    background-color: #b4b4b4;
}

footer {
    font-size: 12px;
    text-align: center;
    background-color: #b4b4b4;
}